.lists__image{
    max-width: 200px;
}

.presentation{
    display: flex;
    flex-wrap: wrap;
}

.paginationBtn{
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
}