.lists{
    width:  200px;
    height: 95px;
    overflow: auto;
    cursor: pointer;
    list-style: none;
    padding: 0px;
    border-radius: 5px;
    z-index: 1000;
    background-color: white;
}

.lists::-webkit-scrollbar{
    width: 10px;
}

.lists::-webkit-scrollbar-thumb{
    background: #59421a;
    border-radius: 3px;
    transition: 1s;
}

.lists::-webkit-scrollbar-thumb:hover{
    background: #cb3535;
}

.lists::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
    
}

.item{
    z-index: 1;
    position: relative;
    transition: 0.4s linear;
    background: none;
}

.item:hover::before{
    transform: scaleX(1);
}

.item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #b6e6e6;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: left;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}

.itemx{
    z-index: 1;
    position: relative;
    transition: 0.4s linear;
    background: none;
}

.itemx:hover::before{
    transform: scaleX(1);
}

.itemx::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #e6b6b6;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: right;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}


.form{
    text-align: center;
    margin: auto;
    width: 75%;
    min-width: 500px;
    max-width: 600px;
    font-family: 'Bahianita', cursive;
    background-color: #b6b6e6;
    border-radius: 10px;
}

.title{
    height: 60px;
    text-align: center;
    font-family: 'Bahianita', cursive;
    padding: 10px;
}

.input1{
    width: 300px;
    margin-right: 50px;

}

.input2{
    width: 50px;
}

.input3{
    width: 410px;
    margin-top: 10px;
    resize: none;
    overflow: auto;
}

.content__lists{
    width: 450px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}

.submitBtn{
    margin: 20px 0px 50px 0px;
    font-family: 'Bahianita', cursive;
    font-size: 20px;
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s all;
}

.submitBtn:hover{
    background-color: black;
    color: white;
}

.input1, .input2, .input3{
    outline: none;
    font-family: 'Bahianita', cursive;
    font-size: 17px;
    border-radius: 3px;
    border: none;
}

.danger{
    border: 2px solid red;
}