.contentDetails{
    width: 90%;
    min-width: 500px;
    margin: auto;
    font-family: 'Bahianita', cursive;
}

.img{
    width: 80%;
    max-height: 600px;
    margin: auto;
    display: block;
}

.star{
    color: 	#FFD700;
}

.bold{
    font-weight: bold;
    font-size: 25px;
}

.text{
    font-size: 20px;
}